/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 6, 2017, 10:32:39 AM
    Author     : Samita
*/
body {
    margin-left: 20%;
    margin-right: 20%;
}
body, input, button {
    font-family: "Century Gothic",sans-serif;
    font-size: 20pt;
}
div {
    margin: 0.5em;
}
